*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
}
header{
    background-color: #edfbfe;
}
section{
    max-width: 1200px;
    margin: auto;
   
}
.conteiner{
    max-width: 1200px;
    margin: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    height: 150px;
    align-items: center;
}
.try{
    background-color: #ffff;
    color: #000000;
    height: 50px;
    width: 190px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.section{
    display: flex;
    margin-top: 80px;
}
.build{
    max-width: 500px;
    font-size: 35px;
    margin-top: 60px;
}
.build p{
    margin-top: 30px;
    font-size: 20px;
    
}

.img-mockups img{
    width: 640px;
}

.section-1{
    background-color: #ffffff;
    box-shadow: 0 0 1em black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    height: 430px;
}
.section-2{
    background-color: #ffffff;
    box-shadow: 0 0 1em black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    height: 430px;
}
.section-3{
    background-color: #ffffff;
    box-shadow: 0 0 1em black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
    height: 430px;
}
.together{
    max-width: 400px;
}
.together p{
    margin-top: 10px;
}
.img-together img{
    width: 400px; 
}
.img-together {
    justify-content: flex-end;
}



.ready-2{
    height: 200px;
    width: 700px;
    background-color: #ffffff;
    border-radius: 0px 0 10px 10px;
    box-shadow: 0 0 1em black;
    position: relative;
    margin: auto;
    margin-top: 100px;

}
.text-ready-2{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    background-color: #fe52c0;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
}


footer{
    width: 100%;
    height: 500px;
    background-color: #00252e;
    margin-top: -90px;
}


.conteiner-footer{
    position: absolute;
    color: white;
    margin-top: 280px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.info-1{
    display: flex;
    max-width: 300px;
}
.lorem{
    margin-left: 20px;
}

.tel{
    margin-top: 20px;
    display: flex;
}
.tel p{
   margin-left: 20px;
}
.email{
    display: flex;
    margin-top: 20px;
}
.email p{
  margin-left: 20px;
}
.info {
    margin-top: -15px;
}
.info p{
    margin-top: 15px;
}

.rede-social{
    display: flex;
    margin-right: 90px;
    width: 200px;
    margin-top: 10px;
}
.face, .tw, .insta{
    margin-left: 10px;
}





@media (max-width: 400px) {
    header{
        max-width: 350px;
    }
    
    .menu{
   
        
    }
    .logo-desktop img{
     width: 150px;
     margin-left: 10px;
     
    }
    .try{
    height: 40px;
    width: 150px;
    }


    .section{
        display: block;
        margin-top: 80px;
    }

    .build{
       text-align: center;
       font-size: 30px;
    }

    .img-mockups img{
        width: 300px;
        margin: auto;
        margin-top: 10px;
    }
    .img-mockups{
        display: flex;
        justify-content: flex-end;
    } 



    .section-1{
        background-color: #ffffff;
        box-shadow: 0 0 1em black;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
        width: 320px;
        margin: auto;
        margin-top: 80px;
    }
    .section-2{
        background-color: #ffffff;
        box-shadow: 0 0 1em black;
        display: flex;
        flex-direction: column;
       
        text-align: center;
        width: 320px;
        margin: auto;
        margin-top: 80px;
    }
    .section-3{
        background-color: #ffffff;
        box-shadow: 0 0 1em black;
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;
        text-align: center;
        width: 320px;
        margin: auto;
        margin-top: 80px;
    }

    .img-together img{
        width: 300px; 
    }



    .ready{
        height: 200px;
        width: 320px;
        text-align: center;

    }
    .text-ready{
        height: 10em;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .ready-2{
        width: 320px;
        text-align: center;
    }
    button{
        background-color: #fe52c0;
        border-radius: 20px;
        width: 200px;
        height: 40px;
        margin-top: 20px;
        color: white;
        border: none;
        cursor: pointer;
    }

    footer{
        width: 100%;
        height: 50em;
        background-color: #00252e;
        margin-top: -160px;
    }
    
    
    .conteiner-footer{
        position: absolute;
        color: white;
        margin-top: 280px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .info-1{
        display: flex;
        max-width: 300px;
    }
    .lorem{
        margin-left: 20px;
    }
    
    .tel{
        margin-top: 20px;
        display: flex;
    }
    .tel p{
       margin-left: 20px;
    }
    .email{
        display: flex;
        margin-top: 20px;
    }
    .email p{
      margin-left: 20px;
    }
    .info {
        margin-top: 15px;
        flex-wrap: wrap;
    }
 
  
}